---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  <h2>Posts</h2>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  
  <h3 class="page-tag-cloud">Tags</h3>
  <ul class="tag-cloud">
     {% for tag in site.tags %}
     <li>
       <a href="http://kafeintag.github.io/tags/#{{ tag | first | slugize }}">
         {{ tag | first | slugize }}</a>
    </li>
    {% endfor %}
  </ul>
  <p class="rss-subscribe">subscribe <a href="{{ "http://kafeintag.github.io/feed.xml"|prepend: site.baseurl }}" > via RSS </a></p>

</div>
